#navbarTogglerDemo01{
  text-align: center;
  background-color: #66BFBF;
}
.dropdown-menu{
  text-align: center;
  background-color: red; 
}
.dropdown-item{
  text-align: center;
  background-color: #66BFBF; 
}
.col-lg-4{
  border: 1px solid;
  background-color: yellow;
  width: 40%
  height: 200px;
}
/*.card-header{
  background-color: red;
}*/
#footer{
  text-align: center;
  padding: 7% 15%;
  background-color: #66BFBF;
}
.ukg{
  margin: 2%;
  background-color: green;
}
/*@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
      border-right: 0;
      border-bottom: .3em solid transparent;
      border-left: .3em solid;
  }*/
  .dropdown-menu .dropdown-menu{
    margin-left:0; margin-right: 0;
  }
  .dropdown-menu li{
    position: relative;
  }
   /*.nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }*/
  @media screen and (min-width: 1000px) {
      .nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  
}

  .nav-item .submenu-left{ 
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{ background-color: #66BFBF; }
  .dropdown-menu > li:hover > .submenu{
    display: block;
    background-color: blue;
  }
}
@/*media all and (min-width: 992px) {
  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
  .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}*/
.dropdown:hover .dropdown-menu {display: blo;}
.Quiz-button{
  position: relative;
  margin-left: 45%;
  margin-bottom: 2%;
  line-height: 1.5;
}
@media screen and (max-width: 1000px) {
  .nav-item .submenu{ 
    display: none;
    position: absolute;
    right:100%; top: 10px;
    background-color: black;
  }
}
/*quiz button*/
.tags-new{
  background-color: #f6f6f6;
  display: block;
}
.sidebar-module{
  background-color: #99f3bd;
  text-align: center;
}
.Recent-Post{
  color: black;
}
/*Pagination*/
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;
}
.blog-title{
  text-align: center;
  background-color: purple;
}
.blog-topic-name{
  background-color: green;
}
.magazine{
  background-color: pink;
  text-align: center;
}
.uttpal{
  background-color: pink;
}
div.article-link:hover{
  color: red;
  background-color: #eeeeee;
}